/*
  Author:RoktimSazib
  url:http://www.codingavatar.com
  description:Haragaku LP project
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

div::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt reset code
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Roktim Global styles
   ========================================================================== */
  @media (max-width:1014px) and (min-width:1000px) {
  body{
    position:relative; overflow-x:hidden;
    }
  }
 *:focus{
   outline: none;
 }
 h1,h2,h3,h4,h5,h6{
   margin: 0px;
   padding: 0px;
 }
 ul{
   margin: 0px;
   padding: 0px;
   list-style-type: none;
 }
 .fix{
   overflow: hidden;
 }
 .container{
    width: 1000px;
    margin: 0 auto;
 }
 body{
   font-family:  "Yu Gothic", "游ゴシック体", YuGothic, sans-serif, "Oxygen Mono";
   min-width: 1000px;
   }
/*==========================================================================
      HEADER AREA
========================================================================== */
.container-full{
  max-width: 100%;
}
.header_area{
   width: 100%;
}
.left_banner{

}
.left_part{
  float: left;
  width: 85%;
  background: #FFF;
  height: 80px;
}
.logo{
  float: left;
  margin-left: 26px;
  margin-top: 8px;
}
.logo img {
    width: 92px;
}
/*MENU*/
.nav_area {
    float: right;
    overflow: hidden;
    /*margin-left: 221px;*/
}
li.about_menu img{
  width: 46px;
}
li.archive_menu img{
  width: 60px;
}
li.staff_menu img{
  width: 36px;
}
.menu{
  font-family: lft-etica, sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  margin-top: 29px;
  margin-right: 18px;
  float: left;
  letter-spacing: 1px;
}
li.about_menu {
    padding-right: 5px;
    padding-left: 10px;
}
li.archive_menu {
    padding-right: 6px;
}
.menu ul{
  list-style: none;
}
.menu ul li{
  float:left;
}
.menu ul li a{
  text-decoration: none;
  display: block;
  padding: 0px 10px;
}
.menu ul li a:hover{
  transition: 0.3s;
}
/*SOCIAL ICON*/
.socila_icon{
  overflow: hidden;
  float: left;
  margin-top: 21px;
}
li.instragram {
    padding-right: 9px;
}
li.twitter {
    padding-right: 8px;
}
.socila_icon ul{
  list-style: none;
}
.socila_icon ul li{
  float: left;
}
.socila_icon ul li:last-child {
    padding: 0px;
}
.socila_icon ul li a{
  display: block;
  text-decoration: none;
}
.socila_icon ul li:hover{
  /*opacity: 0.5;*/
  transition: 0.3s;
}
li.instragram img {
  width: 21px;
  margin-top: 6px;
  margin-left: 6px;
  position: absolute;
}
li.twitter img {
  width: 18px;
  margin-top: 9px;
  margin-left: 8px;
  position: absolute;
}
li.facebook img {
  width: 11px;
  margin-top: 7px;
  margin-left: 11px;
  position: absolute;
}
.header_btn {
  width: 33px;
  height: 33px;
  background-color: #131328;
  border-radius: 16.5px;
  overflow: hidden;
  position: relative;
  padding: 0;
  font-size: 42px;
  line-height: 34px;
  margin-right: 3px;
  margin-top: 1px;
}
.header_btn::before {
    content: attr(data-hover);
    left: 0;
    top: 0px;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    transition: max-width 0.3s ease-out 0s;
    white-space: nowrap;
    color: #FF7800;
    left: -3px;
}
.header_btn:hover::before {
    max-width: 120%;
}

.right_part{
  float: right;
  width: 260px;
  /*margin-right: 15px;*/
}
.right_part a{
    text-decoration: none;
}
.head_text{
    width: 100%;
    text-align: center;
    background: #131328;
    display: inline-table;
    vertical-align: middle;
    position : relative;
    border: 2px solid #131328;
    box-sizing: border-box;
}
.head_text h2{
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    padding-top: 16px;
    color: #FFF;
    position: relative;
    z-index: 2;
    letter-spacing: 2.2px;
    padding-right: 2px;
}
.head_text p{
    margin: 0;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 22px;
    color: #FFF;
    margin-top: -2px;
    position: relative;
    z-index: 2;
    transform: scale(0.9);
    letter-spacing: -0.2px;
    padding-right: 4px;
}
.head_text::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    background: #FFFFFF;
    color: #131328;
}
.head_text:hover::before{
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    color: #FFFFFF;
}
.head_text:hover > p {
	color: #131328;
}
.head_text:hover > h2 {
	color: #131328;
}

.head_text img {
    width: 260px;
}
.head_text img:hover {
    opacity: 0.3;
    transition: 0.3s;
}
/*==========================================================================
      BANNER AREA
========================================================================== */
.left_banner{
  width: 86%;
  float: left;
  position: relative;
}
.top-image{
  max-width: 100%;
  background-image: url('../img/top_image.jpg');
  height: 550px;
  background-size: cover;
}
/*.left_banner img{
  max-width: 740px;
  position: absolute;
}*/
.anim_loog img {
    width: 312px;
}
.right_banner{
  height: 550px;
  min-width: 1000px;
  /*width: 260px;*/
  width: 100%;
  position: absolute;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
}
/*.text_area {
  position: relative;
  left: 0;
  width: 620px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 209px;
}*/

.text_area {
  width: 650px;
  overflow: hidden;
  position: absolute;
  top: 34.3%;
  /*left: 4%;*/
}
.anim_loog {
  float: left;
      margin-left: 5px;
}
.caption {
    float: right;
    width: 221px;
    margin-top: 41px;
}
.caption>h2{
  letter-spacing: 1px;
    margin-left: -2px;
}
p._text2{
  letter-spacing: 1.1px;
}
p._text1 {
    margin-top: 8px !important;
    margin-bottom: 3px !important;
}
h2._pptext {
    margin-top: 8px;
    letter-spacing: 1.1px;
    margin-left: 0px;
}
.caption h2 {
    color: #fff;
    font-size: 35px;
}
.caption h3 {
    color: #fff;
    font-size: 22px;
    letter-spacing: 1.1px;
}
.caption p {
    color: #fff;
    font-size: 12px;
    margin: 0px;
}
.btn_defalt {
    width: 209px;
    margin-top: 15px;
    z-index: 999;
    position: relative;
}
.btn_defalt a img {
    position: relative;
    width: 208px;
}
.btn_defalt a img:hover{
  opacity: 0.9;
  transition: 0.3s;
}
.b_btn{
    width: 0%;
    display: block;
    height: 52px;
    text-align: center;
    background-size: cover;
    background-image:url('../img/detail_btn.png');
    /*background-color: #FF7809;*/
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: .1s; /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration:.1s;
    animation-timing-function: linear;
    transition: transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
}
.b_btn p {
  font-size: 19px;
  font-weight: bold;
  padding-top: 13px;
  color: #FFF;
  position: relative;
  z-index: 2;
  opacity: 0;
  padding-left: 5px;
  letter-spacing: -0.35px;
}
.b_btn::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    background: #FFFFFF;
    color: #131328;
}
.b_btn:hover::before{
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    color: #FFFFFF;
}
.b_btn:hover > p {
	color: #FF7809;
  opacity: 1;
}

@-webkit-keyframes example {
    from {width: 0;}
    to {width: 100%;}
}
/* Standard syntax */
@keyframes example {
    from {width: 0;}
    to {width: 100%;}
}
/* SITEBAR BANNER*/
.scroll_text {
  color: #ff7800;
  position: absolute;
  right: 0px;
  top: 483px;
  width: 260px;
  text-align: center;
  z-index: 11;
}
.scroll_text p {
  font-family: lft-etica, sans-serif;
  font-size: 16px;
  letter-spacing: 1.3px;
  padding-right: 0px;
  display: inline-block;
  margin-top: -5px;
  animation: fuwa .5s linear 0s infinite alternate;
}
.scroll_text img {
  padding-right: 7px;
  width: 18px;
  display: inline-block;
  animation: fuwa .5s linear 0s infinite alternate;
}

.fuwa {

	/*-webkit-animation-name:fuwa;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease;

	-moz-animation-name:fuwa;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:ease;*/
}
/* fuwafuwaっていうアニメーションはこんなふうだよ！ */
@-webkit-keyframes fuwa {
  0% { transform:translate3d(0,5px,0) }
100% { transform:translate3d(0,0,0); }
}
@-moz-keyframes fuwa {
  0% { transform:translate3d(0,5px,0) }
100% { transform:translate3d(0,0,0); }
}


#slideshow_1 {
  position: relative;
  width: 260px;
  height: 160px;
}
#slideshow_1 img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_1 img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_1 img.last-active {
   z-index: 9;
}

#slideshow_2 {
  position: relative;
  width: 260px;
  height: 160px;
}
#slideshow_2 img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_2 img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_2 img.last-active {
   z-index: 9;
}

#slideshow_3 {
  position: relative;
  width: 260px;
  height: 160px;
}
#slideshow_3 img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_3 img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_3 img.last-active {
   z-index: 9;
}

.thumbnail {
  width: 260px;
  right: 0;
  margin-left: auto;
  background-color: #FFF;
}
.thumbnail img{
  max-width: 100%;
}
.item{
  color: #131328;
}
.item:hover {
    background-color: #131328;
    color: #FFF;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.item_caption h1{
  color: #000;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.8px;
}
.item_caption {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.item_caption p{
  margin: 0px;
  margin-top: 3px;
  color: #000;
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.details{
  margin-top: 10px;
}
.details>p{
  margin: 0px;
  color: #000;
  font-size: 10px;
  font-weight: 400;
}
.btn_gray{
  padding-bottom: 20px;
  width: 260px;
  margin-left: auto;
  background-color: #FFF;
}
.btn_gray img {
  width: 219px;
  margin-top: -9px !important;
  margin-left: 20.5px;
}
/* ==========================================================================
   NAVYBLUE SECTION
========================================================================== */
.navyblue_section{
  background-color: #131328;
  }
.section_title{
  text-align: center;
}
.section_title img{
  max-width: 352px;
}
.inner_navyblue_section{
  padding-top: 96px;
}
.section_title img {
}
.paragrap>p {
  color: #fff;
  font-size: 15px;
  margin: 0px;
  line-height: 29px;
}
.paragrap>h3 {
  color: #fff;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: -83px;
  left: -2px;
  font-size: 1.1em;
}
.paragrap {
  width: 412px;
  float: left;
  position: relative;
  left: 193px;
  top: 0px;
  z-index: 2;
}
/*Animation circle image*/
span._circle1 {
  width: 216px;
  height: 216px;
  background-image: url('../img/circle_i.png');
  display: block;
  background-size: cover;
  position: relative;
  top: -466px;
  left: 70px;
}
span._circle2 {
  width: 216px;
  height: 216px;
  background-image: url('../img/circle_shoku.png');
  display: block;
  background-size: cover;
  position: relative;
  top: -399px;
  left: 220px;
}
span._circle3 {
  width: 216px;
  height: 216px;
  background-image: url(../img/circle_ju.png);
  display: block;
  background-size: cover;
  position: relative;
  top: -614px;
  left: -81px;
}
.circle_image {
  float: left;
  margin-top: 186px;
  margin-left: 121px;
  height: 0px;
}

/*hadn animation*/
span.hand_left{
  width: 50px;
  height: 66px;
  display: block;
  background-image: url(../img/about_hand_l.png);
  background-size: cover;
  position: relative;
  top: -83px;
  left: 73px;
}
span.hand_right{
  width: 84px;
  height: 44px;
  display: block;
  background-image: url(../img/about_hand_r.png);
  background-size: cover;
  position: relative;
  top: -107px;
  left: 106px;
}





.last_image {
    clear: both;
}
p._p1{
  margin-top: 60px;
  margin-bottom: 29px;
}
p._p2{
  margin-bottom: 29px;
  letter-spacing: -0.6px;
}
p._p3{
  margin-bottom: 29px;
  letter-spacing: -0.8px;
}
p._p4{
  margin-bottom: 29px;
}
.circle_image img{
  max-width: 358px;
  max-width: 358px;
  position: relative;
  left: -1px;
  top: -1px;
}
.last_image img{
  width: 288px;
}
.last_image {
  float: right;
  margin-right: 230px;
  height: 215px;
  position: relative;
  top: -8px;
  left: 24px;
}
/* ==========================================================================
   ARCHIVE SECTION
========================================================================== */
.inner_archive{
}
.archive{
  background-color: #FFF;
}
.section_archive_head img{
  width: 83px;
}
.section_archive_head p {
  font-family: lft-etica, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 2px;
  /*font-weight: bold;*/
}
.section_archive_head{
  text-align: center;
  padding-top: 49px;
  margin-bottom: 50px;
}
.gallery_area{
  width: 100%;
}
.item{
  width: 25%;
  float: left;
}
.item img{
  width: 250px;
}
.archive_details{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  /*padding-bottom: 52px;*/
  height: 160px;
}
.less_padding{
  padding-bottom:112px;
}
p._mt4{
  margin-top: 4px !important;
  letter-spacing: -0.9px !important;
}
p._mt5{
  margin-top: 5px !important;
}
h1._mt4{
  margin-top: 4px !important;
}
p._mt-5{
  margin-top: -5px !important;
}

.archive_details h1 {
    font-size: 15px;
    font-weight: 700;
}
h1._ppfix{
  /*margin-top: -5px;*/
}
.archive_details p {
    margin: 0px;
    font-size: 10px;
    font-weight: 700;
}
.dtl {
    margin-top: 10px;
}
.dtl>p {
    margin: 0px;
    font-size: 10px;
    font-weight: 400;
}
.archive_btn {
    padding-bottom: 0px;
    text-align: center;
}
.archive_btn img{
  width: 250px;
}
.archive_btn img:hover{
  /*opacity: 0.3;*/
  transition: 0.8s;
}
/*==========================================================================
      FOOTER AREA
========================================================================== */
.footer_area{
  background-color: #131328;
  margin-top: 50px;
}
.inner_footer{
  width: 798px;
  margin: 0 auto;
}
.btn img{
  width: 280px;
}
.btn img:hover{
  opacity: 0.7;
  transition: 0.3s;
}
.footer_entry_btn{
    float: none!important;
}
.f_entry_text{
    max-width: 280px;
    width: 100%;
    text-align: center;
    background: #FF7809;
    display: inline-table;
    vertical-align: middle;
    position: relative;
    left: 8px;
    top: 11px;
}
.f_entry_text::before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    background: #FFFFFF;
}
.f_entry_text:hover::before{
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}

.f_entry_text:hover > p {
	color: #FF7809;
}
.f_entry_text:hover > h2 {
	color: #FF7809;
}


.f_entry_text h2{
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    padding-top: 17px;
    color: #131328;
    position: relative;
    z-index: 2;
}
.f_entry_text p{
    margin: 0;
    font-size: 9px;
    font-weight: bold;
    padding-bottom: 22px;
    color: #131328;
    margin-top: -3px;
    position: relative;
    z-index: 2;
}
.address>p{
  color: #FFF;
  margin: 0px;
  font-size: 18px;
}
p._title{
  font-size: 11px;
  margin: 0px;
  margin-bottom: 15px;
  letter-spacing: 1.1px;
}
.address {
    float: left;
}
.btn{
  float: right;
  margin-top: 30px;
  margin-bottom: 33px;
  margin-right: -1px;
}
hr.line_border{
  margin-top: 43px;
  margin-bottom: 11px;
}

.one{
  width: 170px;
  float: left;
  margin-right: 41px;
}
.one>p{
  color: #FFF;
  margin: 0px;
}
.small_line{
  margin: 0;
  margin-top: 25px;
}
p._small {
    font-size: 11px;
    font-weight: 700;
}
.f_ins img{
  width: 21px;
  margin-top: 6px;
  margin-left: 6px;
  position: absolute;
}
.f_twitter img{
  width: 18px;
  margin-top: 9px;
  margin-left: 8px;
  position: absolute;
}
.f_fb img{
  width: 11px;
  margin-top: 6px;
  margin-left: 11px;
  position: absolute;
}
li.f_ins {
    float: left;
    margin-right: 9px;
}
li.f_twitter {
    float: left;
    margin-right: 9px;
}
.footer_logo {
    margin-top: 31px;
}

.footer_btn {
  width: 33px;
  height: 33px;
  background-color: #FFFFFF;
  border-radius: 16.5px;
  overflow: hidden;
  position: relative;
  padding: 0;
  font-size: 42px;
  line-height: 34px;
  margin-right: 3px;
  margin-top: 1px;
}
.footer_btn::before {
    content: attr(data-hover);
    left: 0;
    top: 0px;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    transition: max-width 0.3s ease-out 0s;
    white-space: nowrap;
    color: #FF7800;
    left: -3px;
}
.footer_btn:hover::before {
    max-width: 120%;
}



/*hover animation*/
li.f_ins {
    width: 35px;
    height: 35px;
    position: relative;
}
.overlay {
    position: absolute;
    left: -30px;
    top: 0;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: left 0.3s ease-out 0s;

}
li.f_ins:hover .overlay{
    /*visibility: visible;*/
    left:0;
}


li.f_twitter {
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 1;
}
li.f_twitter:hover .overlay{
    /*visibility: visible;*/
    left:0;
}

li.f_fb {
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
    z-index: 1;
}
li.f_fb:hover .overlay{
    /*visibility: visible;*/
    left:0;
}

.social_icon {
  margin-top: 13px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}
.footer_logo img {
    width: 118px;
}
hr._border {
    margin-top: 42px;
    margin-bottom: 12px;
}
p._meddiam{
  font-size: 18px;
}
.two{
  width: 170px;
  float:left;
}
.two>p{
  margin: 0;
  color: #FFF;
}
p._small {
  margin-top: 12px;
  margin-bottom: 7px;
}
.two img{
  margin-top: 23px;
  position: relative;
  left: -3px;
}
.three{
  width: 398px;
  float: right;
  margin-right: -2px;
}
.three>p{
  font-size: 10px;
  color: #FFF;
  font-weight: 400;
  margin: 0px;
  margin-top: 13px;
  line-height: 17.5px;
  letter-spacing: 0.4px;
}
p._pfix_{
  letter-spacing: 0px;
}
p._small._last{
  margin-top: 0px;
  letter-spacing: 1.1px;
}
.scroll_top img{
  width: 28px;
}
.scroll_top img:hover{
  opacity: 0.5;
}
.scroll_top {
    width: 30px;
    height: 30px;
    right: 118px;
    bottom: 121px;
    float: right;
    margin-top: 13px;
    margin-right: 18px;
}
.about_footer img{
  width: 56px;
}
.f_archive_footer img{
  width: 71px;
}
.staff_footer img{
  width: 44px;
}
.footer_menu{
  font-family: lft-etica, sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow: hidden;
  float: left;
  letter-spacing: 1.3px;
}
.footer_menu ul li{
  float: left;
}
.footer_menu ul li a{}
.footer_menu ul li a:hover{}
  li.about_footer {
    display: block;
    padding-right: 41px;
    padding-top: 28px;
    /*letter-spacing: 1.5px;*/
  }
  li.f_archive_footer {
    display: block;
    padding-right: 40px;
    padding-top: 28px;
    /*letter-spacing: 1.5px;*/
  }
  li.staff_footer {
      display: block;
      padding-right: 30px;
      padding-top: 28px;
      /*letter-spacing: 1.3px;*/
  }
  spen.text_fix {
    position: relative;
    top: 6px;
    left: 2px;
}
.powerdby{
  float: right;
  margin-top: 49px;
}

.powerdby li{
  float: left;
}
li.icon_1 img{
  width: 58px;
  position: relative;
  left: 10px;
}
li.icon_2 img{
  width: 46px;
  position: relative;
  left: 2px;
}
li.icon_3 img{
  width: 62px;
  position: relative;
  top: -5px;
}
li.icon_4 img{
  width: 164px;
  position: relative;
  left: 44px;
}

li.icon_2 img:hover{
  opacity: 0.3;
  transition: 0.3s;
}
li.icon_3 img:hover{
  opacity: 0.3;
  transition: 0.3s;
}


.powerdby li.icon_1{
}
.powerdby li.icon_2{}
.powerdby li.icon_3{}
.powerdby li.icon_4{clear:both;}


.inner_footer.fix.f_buttom {
    padding-bottom: 15px;
}
/*
* Animation
* Header menu animation
*@author Utpal
*/
.menu ul li {
    padding: 0px 13px;
}
.menu ul li a {
    overflow: hidden;
    position: relative;
    color:#131328;
    padding: 0;
    font-weight: bold;
    font-size: 15px;
}
.menu ul li a::before {
    content: attr(data-hover);
    left: 0;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    top: 0px;
    transition: max-width 0.3s ease-out 0s;
    white-space: nowrap;
    color: #FF7800;
}
.menu ul li a:hover::before {
    max-width: 100%;
}
/*Fotter Menu animation*/
.footer_menu ul li a {
    overflow: hidden;
    position: relative;
    color:#FFF;
    padding: 0;
    /*font-weight: 500;*/
    font-size: 18px;
    text-decoration: none;
}
.footer_menu ul li a::before {
    content: attr(data-hover);
    left: 0px;
    max-width: 0;
    overflow: hidden;
    position: absolute;
    top: -1px;
    transition: max-width 0.3s ease-out 0s;
    white-space: nowrap;
    color: #FF7800;
    font-weight: 600;
    letter-spacing: 1.3px;
    font-size: 18px;
}

.about_footer a::before {
  /*letter-spacing: 1.45px;*/
}
.f_archive_footer a::before {
  /*letter-spacing: 1.4px;*/
}
.staff_footer a::before {
  /*letter-spacing: 1.1px;*/
}

.footer_menu ul li a:hover::before {
    max-width: 100%;
}
/*Archive button Animation*/
.archive_btn a {
    padding: 10px 0px;
    background-color: #b7c6ce;
    transition: all 300ms ease-in-out 0s;
    display: block;
    width: 250px;
    margin: 0 auto;
    color: #FFF;
    font-size: 14px;
    text-decoration: none;

}
.archive_btn a:hover {
    background: #131328 none repeat scroll 0 0;
    color: #fff;
}
/*Footer Social Icon*/
#preloader {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}
#status {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
}
#status img{
    width: 100%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
