/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
  color: #4d4d4d;
  /*font-family: "Hiragino Kaku Gothic ProN";*/
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
select::-ms-expand {
  display: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  border-radius: 0!important;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
img {
  width: 100%;
  height: auto;
}

/*@font-face {
 font-family: 'YuGothic';
 src: url(../font/YUGOTHM.ttc);
}*/


body,
html {
  width: 100%;
  height: 100%;
  /*font-family: 'YuGothic';*/
  font-family: "A+EqpB-游ゴシック体 Pr6N D", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}
@font-face {
  font-family: 'Osaka-Mono';
  src: url('../font/Osaka.ttf');
  font-weight: normal;
  font-style: normal;
}




/*
================
Define all default settings
================
*/
/*Preloader*/
#preloader {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
}
#preloader #status {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;
}
#preloader #status #status img {
  width: 100%;
}
/* @Sazib code hear*/
body.scroll_off{
  overflow: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 667px;
}
.hide {
  display: none;
}
.sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.sp_container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
/*
*Header
*/
#header {
  position: relative;
  height: 55px;
}
#header .logo_area {
  width: 30%;
  margin-bottom: -2px;
}
#header .logo_area img {
  width: 57%;
  padding-left: 10px;
  padding-top: 6px;
}
#header .menu_area {
  width: 70%;
}
#header .menu_area .head_menu_area {
  list-style: none;
  margin: 0;
  float: right;
}
#header .menu_area .head_menu_area li {
  float: left;
}
#header .menu_area .head_menu_area li.entry_list {
  float: left;
  width: 75.5%;
  height: 50px;
}
#header .menu_area .head_menu_area li.entry_list .entry img {
  width: 68.5%;
  float: right;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn #menu_button {
  cursor: pointer;
  padding-left: 15px;
  padding-top: 14px;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn #menu_button .bar1,
#header .menu_area .head_menu_area li.menu_list .menu_btn #menu_button .bar2,
#header .menu_area .head_menu_area li.menu_list .menu_btn #menu_button .bar3 {
  width: 25px;
  height: 1px;
  background-color: #b4b4bb;
  margin: 6px 0;
  transition: 0.4s;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu {
  visibility: hidden;
  position: fixed;
  top: 55px;
  right: 0;
  width: 64%;
  background-color: #131328;
  z-index: 999;
  padding: 108px 0 228px;
  transition: all 0.35s linear;
  opacity: 0;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .main_menu {
  list-style: none;
  padding-left: 0%;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .main_menu li {
  float: none;
  padding-left: 11%;
  margin-bottom: 30px;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .main_menu li a {
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .social ul {
  list-style: none;
  padding-left: 10.5%;
  margin-top: -2px;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .social ul li {
  display: inline;
  margin-right: 6%;
  width: 19.5%;
}
#header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .social ul li img {
  max-width: 50px;
}
#header .menu_area .head_menu_area li.menu_list .change #menu_button .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 6px);
  transform: rotate(-45deg) translate(-2px, 6px);
  background-color: #131328;
}
#header .menu_area .head_menu_area li.menu_list .change #menu_button .bar2 {
  opacity: 0;
}
#header .menu_area .head_menu_area li.menu_list .change #menu_button .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -8px);
  transform: rotate(45deg) translate(-4px, -8px);
  background-color: #131328;
}
#header .menu_area .head_menu_area li.menu_list .change .nav_menu {
  visibility: visible;
  opacity: 1;
}
/*Banner*/
#banner {
  position: relative;
}
#banner img {
  display: block;
}
#banner .banner_abs {
  position: absolute;
  top: 28.5%;
  left: 10%;
}
#banner .banner_abs .hatagaku_icon img {
  width: 83%;
  margin-left: 13px;
}
#banner .banner_abs .banner_text {
  width: 100%;
}
#banner .banner_abs .banner_text .banner_txt_left {
  float: left;
}
#banner .banner_abs .banner_text .banner_txt_left h3 {
  font-weight: bold;
  font-size: 29px;
  margin: 13px 0px 0px 2px;
  color: #FFF;
}
#banner .banner_abs .banner_text .banner_txt_middle {
  float: left;
  padding-left: 2.5%;
  margin-top: 16px;
}
#banner .banner_abs .banner_text .banner_txt_middle h5 {
  margin: 0;
  font-size: 10px;
  color: #FFF;
  transform: scale(0.7);
  transform-origin: left top;
  margin-bottom: -5px;
  letter-spacing: 0.8px;
  margin-top: 2px;
}
#banner .banner_abs .banner_text .banner_txt_right {
  float: left;
    /*margin-left: -8%;*/
}
#banner .banner_abs .banner_text .banner_txt_right h3 {
  font-weight: normal;
  font-size: 29px;
  margin: 12px 0 0 -8%;
  color: #FFF;
}
#banner .banner_abs .banner_btn .bnr_btn_l {
  float: left;
  width: 40%;
}
#banner .banner_abs .banner_btn .bnr_btn_l h3 {
  font-weight: bold;
  font-size: 15px;
  margin: 19px 0 0 4px;
  color: #FFF;
}
#banner .banner_abs .banner_btn .banner_more_btn {
  float: left;
  width: 60%;
  margin-top: 9px;
}
#banner .banner_abs .banner_btn .banner_more_btn a img {
  width: 77%;
  margin-top: -2px;
  margin-left: 0;
}
/*About Section*/
#about {
  background-color: #131328;
}
#about .about_inner {
  width: 85%;
  margin: 0 auto;
  padding: 66px 0 36px 0;
}
#about .about_inner .about_title {
  width: 65%;
  margin: 0 auto;
}
#about .about_inner .about_title img {
  width: 90%;
  margin-left: 7px;
}
#about .about_inner .about_content {
  padding-top: 21px;
}
#about .about_inner .about_content p {
  color: #fff;
  font-size: 12px;
  line-height: 1.8;
  padding-left: 7px;
  margin-bottom: 27px;
  letter-spacing: -0.2px;
}
#about .about_inner .about_content p.p3 {
  line-height: 2;
  font-size: 11.9px;
  margin-bottom: 24px;
}
#about .about_inner .about_content p.p4 {
  line-height: 2;
  font-size: 11.9px;
  margin-bottom: 23px;
}
#about .about_inner .about_content p.p5 {
  line-height: 2;
  font-size: 11.9px;
  margin-bottom: 11px;
}
#about .about_inner .about_content h3 {
  color: #fff;
  font-size: 0.95em;
  font-weight: normal;
  margin: 31px 0 2px;
  padding-left: 2%;
}
#about .about_inner .about_content h4 {
  color: #fff;
  margin-top: 0px;
  margin-bottom: -3px;
  font-weight: normal;
  padding-left: 2.5%;
  letter-spacing: 3px;
}
#about .about_inner .about_circle {
  width: 100%;
  text-align: center;
}
#about .about_inner .about_circle img {
  width: 87%;
}
#about .about_inner .about_char {
  width: 100%;
  margin-top: 10px;
}
#about .about_inner .about_char img {
  float: right;
  width: 52%;
  margin-right: 3.7%;
}
/*Archive Section*/
#archive {
  width: 100%;
}
#archive .archive_inner {
  padding: 30px 0 30px;
}
#archive .archive_inner .archive_title {
  max-width: 120px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 26px;
}
#archive .archive_inner .archive_title img {
  width: 56%;
}
#archive .archive_inner .archive_content {
  width: 100%;
  height: auto;
}
#archive .archive_inner .archive_content .post {
  width: 100%;
  margin-bottom: 31px;
}
#archive .archive_inner .archive_content .post .post_img {
  width: 100%;
  background-color: #e4f2f3;
  height: 170px;
  overflow: hidden;
}
#archive .archive_inner .archive_content .post .post_img img {
  display: block;
  margin: -50px 0px 0px 0px;
}
#archive .archive_inner .archive_content .post .post_title {
  width: 92%;
  margin: 0 auto;
}
#archive .archive_inner .archive_content .post .post_title h2.t1 {
  color: #0f111d;
  margin-top: 13px;
  font-size: 18px;
  margin-bottom: 0;
}
#archive .archive_inner .archive_content .post .post_title h3.t2 {
  color: #0f111d;
  margin-top: 0px;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 7px;
  letter-spacing: -0.5px;
}
#archive .archive_inner .archive_content .post .post_title h3.t3 {
  color: #0f111d;
  margin-top: -3px;
  font-size: 19px;
  margin-bottom: 0;
  margin-top: 6px;
}
#archive .archive_inner .archive_content .post .post_title h5.t4 {
  color: #0f111d;
  margin-top: 0px;
  font-size: 9px;
  margin-bottom: 0;
  margin-top: 6px;
}
#archive .archive_inner .archive_content .post .post_content {
  width: 92%;
  margin: 0 auto;
  margin-top: 6px;
}
#archive .archive_inner .archive_content .post .post_content p {
  color: #0f111d;
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 11px;
  line-height: 1.8;
}
#archive .archive_inner .archive_content .archive_more {
  width: 100%;
}
#archive .archive_inner .archive_content .archive_more .archive_btn {
  width: 48%;
  margin: 0 auto;
}
/*Footer Section*/
#footer {
  width: 100%;
  background-color: #131328;
}
#footer .footer_inner {
  width: 88%;
  margin: 0 auto;
  padding-top: 23px;
}
#footer .footer_inner .footer_entry {
  padding-bottom: 29px;
  border-top: 1px solid #FFF;
}
#footer .footer_inner .footer_entry .footer_entry_title h3 {
  color: #FFF;
  margin: 14px 0px 6px 0px;
  font-size: 10px;
}
#footer .footer_inner .footer_entry address {
  font-weight: bold;
  font-style: normal;
  color: #FFF;
  font-size: 12px;
  line-height: 1.9;
  /*letter-spacing: -0.27px;*/
  letter-spacing: 0px;
}
#footer .footer_inner .footer_entry .orrange_entry {
  margin-top: 18px;
}
#footer .footer_inner .footer_entry .orrange_entry img {
  width: 99.7%;
}
#footer .footer_inner .footer_social {
  padding-bottom: 25px;
}
#footer .footer_inner .footer_social .social_letf {
  width: 42%;
  border-top: 1px solid #FFF;
  padding-top: 10px;
}
#footer .footer_inner .footer_social .social_letf h3 {
  color: #FFF;
  margin: 0;
  font-size: 9px;
}
#footer .footer_inner .footer_social .social_letf h2 {
  color: #FFF;
  margin: 12px 0px 0px 0px;
  font-size: 14px;
}
#footer .footer_inner .footer_social .social_letf h4 {
  color: #FFF;
  margin: 0;
  font-size: 9px;
  margin-top: 8px;
}
#footer .footer_inner .footer_social .social_letf .footer_logo {
  width: 100%;
  margin-top: 13px;
}
#footer .footer_inner .footer_social .social_letf .footer_logo img {
  width: 80%;
}
#footer .footer_inner .footer_social .social_right {
  width: 48%;
  border-top: 1px solid #FFF;
  padding-top: 10px;
}
#footer .footer_inner .footer_social .social_right h3 {
  color: #FFF;
  margin: 0;
  font-size: 9px;
}
#footer .footer_inner .footer_social .social_right .footer_social_icon {
  width: 100%;
  margin-top: 18px;
}
#footer .footer_inner .footer_social .social_right .footer_social_icon ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .footer_inner .footer_social .social_right .footer_social_icon ul li {
  display: inline;
}
#footer .footer_inner .footer_social .social_right .footer_social_icon ul li a img {
  width: 24%;
  margin-right: 7px;
}
#footer .footer_inner .footer_about {
  width: 100%;
  border-top: 1px solid #FFF;
  padding-top: 11px;
  padding-bottom: 24px;
}
#footer .footer_inner .footer_about .footer_about_top .f_about_title {
  width: 40%;
}
#footer .footer_inner .footer_about .footer_about_top .f_about_title h2 {
  color: #FFF;
  margin: 0;
  font-size: 9px;
}
#footer .footer_inner .footer_about .footer_about_top .f_about_title h1 {
  color: #FFF;
  margin: 12px 0px 0px 0px;
  font-size: 14px;
}
#footer .footer_inner .footer_about .footer_about_top .f_about_title h4 {
  color: #FFF;
  margin: 0;
  font-size: 9px;
  margin-top: 6px;
}
#footer .footer_inner .footer_about .footer_about_top .footer_about_img {
  width: 60%;
}
#footer .footer_inner .footer_about .footer_about_top .footer_about_img img {
  width: 55%;
  margin-left: 8px;
}
#footer .footer_inner .footer_about .footer_about_txt {
  width: 100%;
}
#footer .footer_inner .footer_about .footer_about_txt p {
  margin-top: 10px;
  color: #FFF;
  font-size: 10px;
  line-height: 1.5;
}
#footer .footer_inner .powered_by_rap {
  width: 100%;
  border-top: 1px solid #FFF;
  padding-top: 12px;
}
#footer .footer_inner .powered_by_rap .powered_inner {
  width: 100%;
}
#footer .footer_inner .powered_by_rap .powered_inner .powered {
  float: left;
  width: 33%;
}
#footer .footer_inner .powered_by_rap .powered_inner .powered img {
  width: 50%;
  margin-left: 41px;
  margin-top: 11px;
}
#footer .footer_inner .powered_by_rap .powered_inner .dof {
  float: left;
  width: 18%;
}
#footer .footer_inner .powered_by_rap .powered_inner .dof a img {
  width: 70%;
  margin-top: 4px;
}
#footer .footer_inner .powered_by_rap .powered_inner .oceanize {
  float: left;
  width: 17.5%;
}
#footer .footer_inner .powered_by_rap .powered_inner .oceanize a img {
  /*width: 50%;*/
}
#footer .footer_inner .copyright {
  width: 100%;
  text-align: center;
}
#footer .footer_inner .copyright p {
  margin: -2px 0px 7px 0px;
  color: #FFF;
  font-size: 7px;
  text-align: center;
  transform: scale(0.67);
}
/*Scroll to top*/
.scroll_top {
  width: 56px;
  height: 60px;
  float: right;
  margin-right: 3.3%;
  margin-top: 4px;
  display: none;
  cursor: pointer;
}
.scroll_top img {
  width: 48%;
}
.scroll_top:focus,
.scroll_top:hover,
.scroll_top:active {
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.menu_btn:focus,
.menu_btn:hover,
.menu_btn:active {
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
/*Media Quires for sp*/
@media only screen and (min-width: 376px) {
  #header .menu_area {
    width: 70%;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu {
    top: 60px;
  }
  /*About Section*/
  #about .about_inner .about_content p {
    font-size: 15px;
  }
  #about .about_inner .about_content p.p3 {
    font-size: 15px;
  }
  #about .about_inner .about_content p.p4 {
    font-size: 15px;
  }
  #about .about_inner .about_content p.p5 {
    font-size: 15px;
  }
  /*Archive Section*/
  #archive .archive_inner .archive_content .post .post_img img {
    height: 170px;
    width: auto;
    margin: 0 auto;
  }
  #archive .archive_inner .archive_content .post .post_title h2.t1 {
    font-size: 18px;
  }
  #archive .archive_inner .archive_content .post .post_title h3.t2 {
    font-size: 11px;
  }
  #archive .archive_inner .archive_content .post .post_title h3.t3 {
    font-size: 19px;
  }
  #archive .archive_inner .archive_content .post .post_title h5.t4 {
    font-size: 9px;
  }
  #archive .archive_inner .archive_content .post .post_content p {
    font-size: 12px;
  }
  #footer .footer_inner .footer_about .footer_about_txt p {
    font-size: 12px;
  }
  #footer .footer_inner .powered_by_rap {
    width: 100%;
    border-top: 1px solid #FFF;
    padding-top: 12px;
  }
  #footer .footer_inner .powered_by_rap .powered_inner {
    width: 100%;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .powered {
    float: left;
    width: 33%;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .powered img {
    width: 50%;
    margin-left: 41px;
    margin-top: 11px;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .dof {
    float: left;
    width: 18%;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .dof a img {
    width: 70%;
    margin-top: 4px;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .oceanize {
    float: left;
    width: 35%;
  }
  #footer .footer_inner .powered_by_rap .powered_inner .oceanize a img {
    width: 50%;
  }
  #footer .footer_inner .copyright {
    width: 100%;
    text-align: center;
  }
  #footer .footer_inner .copyright p {
    margin: 19px 0px 7px 0px;
    color: #FFF;
    font-size: 7px;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) {
  #archive .archive_inner .archive_content .post .post_img img {
    height: 170px;
    width: auto;
    margin: 0 auto;
  }
  #archive .archive_inner .archive_content .post .post_title h2.t1 {
    font-size: 18px;
  }
  #archive .archive_inner .archive_content .post .post_title h3.t2 {
    font-size: 11px;
  }
  #archive .archive_inner .archive_content .post .post_title h3.t3 {
    font-size: 19px;
  }
  #archive .archive_inner .archive_content .post .post_title h5.t4 {
    font-size: 9px;
  }
  #archive .archive_inner .archive_content .post .post_content p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 360px) {
  #header .menu_area .head_menu_area li.entry_list .entry img {
    width: 75%;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu {
    top: 54px;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .main_menu li {
    margin-bottom: 15px;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .main_menu li a {
    font-size: 18px;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .social ul li {
    margin-right: 15px;
  }
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu .social ul li img {
    max-width: 35px;
  }
  #header .menu_area .head_menu_area li.menu_list .change #menu_button .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2px, 6px);
    transform: rotate(-45deg) translate(-2px, 6px);
    background-color: #131328;
  }
  #header .menu_area .head_menu_area li.menu_list .change #menu_button .bar2 {
    opacity: 0;
  }
  #header .menu_area .head_menu_area li.menu_list .change #menu_button .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -8px);
    transform: rotate(45deg) translate(-4px, -8px);
    background-color: #131328;
  }
  #header .menu_area .head_menu_area li.menu_list .change .nav_menu {
    visibility: visible;
    opacity: 1;
  }
  /*Banner*/
  #banner .banner_abs .hatagaku_icon img {
    width: 72%;
    margin-left: 40px;
  }
  #banner .banner_abs .banner_text .banner_txt_left h3 {
    font-size: 22px;
    margin: 14px 0px 0px 25px;
  }
  #banner .banner_abs .banner_text .banner_txt_right {
    padding-left: 5px;
  }
  #banner .banner_abs .banner_text .banner_txt_right h3 {
    font-size: 22px;
    margin: 14px 0px 0px 2px;
  }
  #banner .banner_abs .banner_btn .bnr_btn_l h3 {
    font-size: 13px;
    margin: 8px 0px 0px 18px;
  }
  #banner .banner_abs .banner_btn .banner_more_btn a img {
    width: 65%;
    margin-top: 2px;
  }
}
@media only screen and (max-width: 320px) {
  #header .menu_area .head_menu_area li.menu_list .menu_btn .nav_menu {
    top: 49px;
  }
}


#slideshow_sp {
  position: relative;
  /*width: 360px;*/
  height: 170px;
}
#slideshow_sp img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_sp img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_sp img.last-active {
   z-index: 9;
}

#slideshow_sp_2 {
  position: relative;
  height: 170px;
}
#slideshow_sp_2 img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_sp_2 img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_sp_2 img.last-active {
   z-index: 9;
}

#slideshow_sp_3 {
  position: relative;
  height: 170px;
}
#slideshow_sp_3 img {
   position: absolute;
   top: 0;
   left:0;
   z-index: 8;
   opacity: 0.0;
}
#slideshow_sp_3 img.active {
   z-index: 10;
   opacity: 1.0;
}
#slideshow_sp_3 img.last-active {
   z-index: 9;
}
