/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
  color: #4d4d4d;
  /*font-family: "Hiragino Kaku Gothic ProN";*/
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}
select::-ms-expand {
  display: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  border-radius:0!important;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}
img {
  width: 100%;
  height: auto;
}
body,html{
  width: 100%;
  height: 100%;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif, "Oxygen Mono";
}
@font-face {
  font-family: 'Osaka-Mono';
  src: url('../font/Osaka.ttf');
  font-weight: normal;
  font-style: normal;
}
.osakamono() {
  font-family: "Osaka-Mono";
}
/*
================
Define all default settings
================
*/
/*Preloader*/
#preloader {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 101;
  #status {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    #status img{
      width: 100%;
    }
  }
}
/* @Sazib code hear*/
body.scroll_off{
  overflow: hidden;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 667px;
}


@color-red : #fc6464;
@about-bg : #131328;
@about-txt-color: #d86807;
@arcv-txt-color: #0f111d;
.hide{
  display: none;
}
.sans-pro{
  font-family: 'Source Sans Pro', sans-serif;
}
.left{
  float: left;
}
.right{
  float: right;
}
.sp_container{
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
/*
*Header
*/
#header{
  position: relative;
  .logo_area{
    width: 30%;
    img{
      width: 57%;
      padding-left: 10px;
      padding-top: 6px;
    }
  }
  .menu_area{
    width: 70%;
    .head_menu_area{
      list-style: none;
      margin: 0;
      float: right;
      li{
        float: left;
      }
      li{
        &.entry_list{
          float: left;
          width: 75.5%;
          height: 50px;
          .entry{
            img{
              width: 68.5%;
              float: right;
            }
          }
        }
      }

      li{
        &.menu_list{
          .menu_btn{

            #menu_button{
              cursor: pointer;
              padding-left: 15px;
              padding-top: 14px;
              .bar1, .bar2, .bar3{
                width: 25px;
                height: 1px;
                background-color: #b4b4bb;
                margin: 6px 0;
                transition: 0.4s;
              }

            }
            .nav_menu{
              visibility: hidden;
              position: fixed;
              top: 55px;
              right: 0;
              width: 64%;
              background-color: @about-bg;
              z-index: 999;
              padding: 108px 0 228px;
              transition: all 0.35s linear;
              opacity: 0;
              .main_menu{
                list-style: none;
                padding-left: 0%;
                li{
                  float: none;
                  padding-left: 11%;
                  margin-bottom: 30px;
                  a{
                    font-size: 18px;
                    color: #FFF;
                    text-decoration: none;
                    font-weight: bold;
                  }
                  // margin-bottom: 20px;
                }
              }
              .social{
                ul{
                  list-style: none;
                  li{
                    display: inline;
                    margin-right: 11%;
                    width: 21%;
                    img{
                      max-width: 50px;
                    }
                  }
                }
              }
            }

          }
          .change{
            #menu_button{
              .bar1{
                -webkit-transform: rotate(-45deg) translate(-2px, 6px) ;
                transform: rotate(-45deg) translate(-2px, 6px) ;
                background-color: @about-bg;
              }
              .bar2{
                opacity: 0;
              }
              .bar3{
                -webkit-transform: rotate(45deg) translate(-4px, -8px) ;
                transform: rotate(45deg) translate(-4px, -8px) ;
                background-color: @about-bg;
              }
            }
            .nav_menu{
              visibility: visible;
              opacity: 1;
            }

          }
        }
      }

    }
  }

}
/*Banner*/
#banner{
  position: relative;
  img{
    display: block;
  }
  .banner_abs{
    position: absolute;
    top: 28.5%;
    left: 10%;
    .hatagaku_icon{
      img{
        width: 83%;
        margin-left: 13px;
      }

    }
    .banner_text{
      width: 100%;
      .banner_txt_left{
        float: left;
        h3{
          font-weight: bold;
          font-size: 29px;
          margin: 6px 0px 0px 2px;
          color: #FFF;
        }
      }
      .banner_txt_middle{
        float: left;
        padding-left: 2%;
        margin-top: 13px;
        h5{
          margin: 0;
          font-size: 7px;
          color: #FFF;
          transform: scale(0.7);
          transform-origin: left top;
          margin-bottom: -5px;
          letter-spacing: 0.8px;
        }
      }
      .banner_txt_right{
        float: left;
        padding-left: 10px;
        margin-left: -8%;
        h3{
          font-weight: bold;
          font-size: 29px;
          margin: 6px 0 0 0;
          color: #FFF;
        }
      }
    }
    .banner_btn{
      .bnr_btn_l{
        float: left;
        width: 40%;
        h3{
          font-weight: bold;
          font-size: 15px;
          margin: 8px 0 0 4px;
          color: #FFF;
        }
      }
      .banner_more_btn{
        float: left;
        width: 60%;
        margin-top: 2px;
        a{
          img{
          width: 77%;
            margin-top: -2px;
          }
        }
      }


    }
  }
}
/*About Section*/
#about{
background-color: @about-bg;
  .about_inner{
    width: 85%;
    margin: 0 auto;
    padding: 67px 0 36px 0;
    .about_title{
      width: 65%;
      margin: 0 auto;
      img{
        width: 90%;
        margin-left: 7px;
      }
    }
    .about_content{
      padding-top: 20px;
      p{
        color: @about-txt-color;
        font-size: 12px;
        line-height: 1.8;
        padding-left: 7px;
        margin-bottom: 27px;
        letter-spacing: -0.2px;
      }
      p.p3{
        line-height: 2;
        font-size: 11.9px;
        margin-bottom: 24px;
      }
      p.p4{
        line-height: 2;
        font-size: 11.9px;
        margin-bottom: 23px;
      }
      p.p5{
        line-height: 2;
        font-size: 11.9px;
        margin-bottom: 11px;
      }
    }
    .about_circle{
      width: 100%;
      text-align: center;
      img{
        margin-top: 2px;
        width: 87.5%;
      }

    }
    .about_char{
      width: 100%;
      margin-top: 10px;
      img{
        float: right;
        width: 52%;
        margin-right: 12px;
      }
    }

  }
}
/*Archive Section*/
#archive{
  width: 100%;
.archive_inner{
  padding: 30px 0 30px;
  .archive_title{
    max-width: 120px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 21px;
    img{
      width: 56%;
    }
  }
  .archive_content{
    width: 100%;
    height: auto;
    .post{
      width: 100%;
      margin-bottom: 31px;
        .post_img{
          width: 100%;
          background-color: #e4f2f3;
          height: 170px;
          overflow: hidden;
          img{
            display: block;
            margin: -50px 0px 0px 0px;

          }
        }
      .post_title{
        width: 92%;
        margin: 0 auto;
        h2{
          &.t1{
            color: @arcv-txt-color;
            margin-top: 10px;
            font-size: 18px;
            margin-bottom: 0;
          }
        }
        h3{
          &.t2{
            color: @arcv-txt-color;
            margin-top: 0px;
            font-size: 11px;
            margin-bottom: 0;
          }
        }
        h3{
          &.t3{
            color: @arcv-txt-color;
            margin-top: -3px;
            font-size: 19px;
            margin-bottom: 0;
          }
        }
        h5{
          &.t4{
            color: @arcv-txt-color;
            margin-top: 0px;
            font-size: 9px;
            margin-bottom: 0;
          }
        }

      }
      .post_content{
        width: 92%;
        margin: 0 auto;
        p{
          color: @arcv-txt-color;
          margin-top: 4px;
          margin-bottom: 0;
          font-size: 11px;
          line-height: 1.8;
        }
      }
    }
    .archive_more{
      width: 100%;
      .archive_btn{
        width: 48%;
        margin: 0 auto;
        img{

        }
      }
    }
  }
}
}
/*Footer Section*/
#footer{
  width: 100%;
  background-color: @about-bg;
  .footer_inner{
    width: 88%;
    margin: 0 auto;
    padding-top: 23px;
    .footer_entry{
      padding-bottom: 24px;
      border-top: 1px solid #FFF;
      .footer_entry_title{
        h3{
          color: #FFF;
          margin: 9px 0px 6px 0px;
          font-size: 10px;
        }

      }
      address{
        font-weight: bold;
        font-style: normal;
        color: #FFF;
        font-size: 12px;
        line-height: 1.9;
        letter-spacing: -0.27px;
      }
      .orrange_entry{
        margin-top: 18px;
        img{
          width: 99.7%;
        }

      }
    }
    .footer_social{
      padding-bottom: 20px;
      .social_letf{
        width: 42%;
        border-top: 1px solid #FFF;
        padding-top: 10px;
        h3{
        color: #FFF;
          margin: 0;
          font-size: 9px;
        }
        h2{
          color: #FFF;
          margin: 4px 0px 0px 0px;
          font-size: 14px;
        }
        h4{
          color: #FFF;
          margin: 0;
          font-size: 9px;
        }
        .footer_logo{
          width: 100%;
          margin-top: 13px;
          img{
            width:80%;
          }
        }
      }
      .social_right{
        width: 48%;
        border-top: 1px solid #FFF;
        padding-top: 10px;
        h3{
          color: #FFF;
          margin: 0;
          font-size: 9px;
        }
        .footer_social_icon{
          width: 100%;
          margin-top: 14px;
          ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
              display: inline;
              a{
                img{
                  width: 24%;
                  margin-right: 7px;
                }
              }
            }
          }
        }
      }

    }
    .footer_about{
      width: 100%;
      border-top: 1px solid #FFF;
      padding-top: 11px;
      padding-bottom: 24px;
      .footer_about_top{
        .f_about_title{
          width: 40%;
          h2{
            color: #FFF;
            margin: 0;
            font-size: 9px;
          }
          h1{
            color: #FFF;
            margin: 4px 0px 0px 0px;
            font-size: 14px;
          }
          h4{
            color: #FFF;
            margin: 0;
            font-size: 9px;
          }
        }
        .footer_about_img{
          width: 60%;
          img{
            width: 55%;
            margin-left: 8px;
          }
        }
      }
      .footer_about_txt{
        width: 100%;
        p{
          margin-top: 6px;
          color: #FFF;
          font-size: 10px;
          line-height: 1.5;
        }
      }
    }
    .powered_by_rap{
      width: 100%;
      border-top: 1px solid #FFF;
      padding-top: 12px;
      .powered_inner{
        width: 100%;
        .powered{
          float: left;
          width: 33%;
          img{
            width: 50%;
            margin-left: 41px;
            margin-top: 11px;
          }
        }
        .dof{
          float: left;
          width: 18%;
          a{
            img{
              width: 70%;
              margin-top: 4px;
            }
          }
        }
        .oceanize{
          float: left;
          width: 35%;
          a{
            img{
              width: 50%;
            }
          }

        }

      }
    }
    .copyright{
      width: 100%;
      text-align: center;
      p{
        margin: 19px 0px 7px 0px;
        color: #FFF;
        font-size: 7px;
        text-align: center;
      }
    }
  }

}
/*Scroll to top*/
.scroll_top{
  width: 56px;
  height: 60px;
  position: fixed;
  bottom: 16px;
  right: 34px;
   display: none;
  cursor: pointer;
  img{
    width: 50%;
  }
}
.scroll_top:focus, .scroll_top:hover, .scroll_top:active{
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.menu_btn:focus, .menu_btn:hover, .menu_btn:active{
  outline: 0;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}


/*Media Quires for sp*/
@media only screen and (min-width: 376px) {
  #header{
    .menu_area{
      width: 70%;
      .head_menu_area{
        li{
          &.menu_list{
            .menu_btn{
              .nav_menu{
                top: 60px;
              }

            }

          }
        }

      }
    }

  }
  /*About Section*/
  #about{

    .about_inner{


      .about_content{
        p{

          font-size: 15px;
        }
        p.p3{
          font-size: 15px;
        }
        p.p4{
          font-size: 15px;
        }
        p.p5{
          font-size: 15px;
        }
      }



    }
  }
  /*Archive Section*/
  #archive{

    .archive_inner{

      .archive_content{

        .post{
          .post_img{
            img{
              height: 170px;
              width: auto;
              margin: 0 auto;
            }
          }
          .post_title{
            h2{
              &.t1{
                font-size: 18px;
              }
            }
            h3{
              &.t2{
                font-size: 11px;
              }
            }
            h3{
              &.t3{
                font-size: 19px;

              }
            }
            h5{
              &.t4{
                font-size: 9px;
              }
            }

          }
          .post_content{
            p{
              font-size: 12px;
            }
          }
        }

      }
    }
  }
  #footer{
    .footer_inner{
      .footer_about{
        .footer_about_txt{
          p{
            font-size: 12px;
          }
        }
      }
      .powered_by_rap{
        width: 100%;
        border-top: 1px solid #FFF;
        padding-top: 12px;
        .powered_inner{
          width: 100%;
          .powered{
            float: left;
            width: 33%;
            img{
              width: 50%;
              margin-left: 41px;
              margin-top: 11px;
            }
          }
          .dof{
            float: left;
            width: 18%;
            a{
              img{
                width: 70%;
                margin-top: 4px;
              }
            }
          }
          .oceanize{
            float: left;
            width: 35%;
            a{
              img{
                width: 50%;
              }
            }

          }

        }
      }
      .copyright{
        width: 100%;
        text-align: center;
        p{
          margin: 19px 0px 7px 0px;
          color: #FFF;
          font-size: 7px;
          text-align: center;
        }
      }
    }

  }
}
@media only screen and (min-width: 481px) {
  #archive{

    .archive_inner{

      .archive_content{

        .post{
          .post_img{
            img{
              height: 170px;
              width: auto;
              margin: 0 auto;
            }
          }
          .post_title{
            h2{
              &.t1{
                font-size: 18px;
              }
            }
            h3{
              &.t2{
                font-size: 11px;
              }
            }
            h3{
              &.t3{
                font-size: 19px;

              }
            }
            h5{
              &.t4{
                font-size: 9px;
              }
            }

          }
          .post_content{
            p{
              font-size: 12px;
            }
          }
        }

      }
    }
  }
}
@media only screen and (max-width: 360px) {
   #header{
    .menu_area{
      .head_menu_area{
        li{
          &.entry_list{
            .entry{
              img{
                width: 75%;
              }
            }
          }
        }

        li{
          &.menu_list{
            .menu_btn{
              .nav_menu{
                top: 54px;
              }
            }
          }
        }

        li{
          &.menu_list{
            .menu_btn{
              .nav_menu{
                .main_menu{
                  li{
                    a{
                      font-size: 18px;
                    }
                    margin-bottom: 15px;
                  }
                }
                .social{
                  ul{
                    li{
                      margin-right: 15px;
                      img{
                        max-width: 35px;
                      }
                    }
                  }
                }
              }

            }
            .change{
              #menu_button{
                .bar1{
                  -webkit-transform: rotate(-45deg) translate(-2px, 6px) ;
                  transform: rotate(-45deg) translate(-2px, 6px) ;
                  background-color: @about-bg;
                }
                .bar2{
                  opacity: 0;
                }
                .bar3{
                  -webkit-transform: rotate(45deg) translate(-4px, -8px) ;
                  transform: rotate(45deg) translate(-4px, -8px) ;
                  background-color: @about-bg;
                }
              }
              .nav_menu{
                visibility: visible;
                opacity: 1;
              }

            }
          }
        }

      }
    }

  }
  /*Banner*/
  #banner{
    .banner_abs{
      .hatagaku_icon{
        img{
          width: 72%;
          margin-left: 40px;
        }
      }
      .banner_text{
        .banner_txt_left{
          h3{
            font-size: 22px;
            margin: 14px 0px 0px 25px;
          }
        }
        .banner_txt_right{
          padding-left: 5px;
          h3{
            font-size: 22px;
            margin: 14px 0px 0px 2px;
          }
        }
      }
      .banner_btn{
        .bnr_btn_l{
          h3{
            font-size: 13px;
            margin: 8px 0px 0px 18px;
          }
        }
        .banner_more_btn{
          a{
            img{
              width: 65%;
              margin-top: 2px;
            }
          }
        }


      }
    }
  }
}
@media only screen and (max-width: 320px) {
  #header{
    .menu_area{
      .head_menu_area{
        li{
          &.menu_list{
            .menu_btn{
              .nav_menu{
                top: 49px;
              }
            }
          }
        }

      }
    }

  }
}
